.all-about {
    color: #ffffff;
}

.page-titles2 {
    display: flex;
    justify-content: center;
}

.page-titles2-2 {
    border: 5px solid #000000;
    border-radius: 8px;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-information {
    margin-left: 600px;
    margin-right: 600px;
    background-color: #000000;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border-radius: 7.5px;
}

.about-information-top {
    margin-top: 50px;
}