.page-titles {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.home-pages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
}

.page-images {
    height: 250px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.pages {
    border: 5px solid #4e4f4f;
    border-radius: 15px;
    background-color: #000000;
}