body {
    background-image: url("https://images2.alphacoders.com/108/thumb-1920-1082698.jpg");
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.pages {
    border: 3px solid red;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.redirects {
    margin-top: 0px;
    color: #ffffff;
    background-color: black;
}

ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
}

.redirects-hover:hover {
    border: 3px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
}

h2 {
  font-family: Google Sans, Arial, Sans-Serif;
}

h1 {
  font-family: Google Sans, Arial, Sans-Serif;
  background: black;
}

p {
  font-family: Google Sans, Arial, Sans-Serif;
  font-size: 25px;
}

img {
  height: 250px;
  width: 250px;
}

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.section-page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    clear: none;
    background: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

footer {
    display: flex;
    display: none;
    align-items: flex-end;
}

.section-pages {
    color: white;
    display: flex;
    justify-content: center;
}

.page-titles {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.page-information {
    background: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.page-info-title {
    background: black;
}

.about-page2 {
    display: none;
}

.page-title-fix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page2 {
    display: none;
}